In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np
%matplotlib inline
import seaborn as sb
import missingno as msn
sb.set()

In [2]:
train = pd.read_csv('C:/Users/RADHIKA/Downloads/train.csv')

train.head()

,WD_WS,VISIBILITY,WEATHER,LOWEST_CLOUD,LOW_CLOUD,MID_CLOUD,CURRENT_TEMP,DEW_POINT
0,310/04,1000,BR,0,NSC,0,16,13
1,280/05,1000,FU,0,NSC,0,18,13
2,290/04,1100,FU,0,NSC,0,20,13
3,290/04,1100,FU,0,NSC,0,20,13
4,290/04,1200,FU,0,NSC,0,21,13

In [3]:
train['WEATHER'].value_counts()

FU            4190
HZ            3820
BR            2125
MIFG          1580
FG            1315
HZ              63
BR              46
FU              45
TS              21
`BR             19
`FU             19
FBL RA          14
fu              14
 BR             13
MOD RA          11
HZ              10
FBL TSRA         9
 HZ              7
AB V 2000        7
MOD TSRA         6
FG /FBL RA       5
hz               5
DZ               5
1000             5
FBL DZ           5
FGF              4
FBLRA            4
br               4
ABV2000          4
RA               4
1800             4
FY               3
BR               3
mifg             3
ABV 2000         2
FU               2
BR`              2
 TS              2
2400             2
TSRA             2
700              2
 RA              2
fg               1
HBR              1
 FBL DZ          1
DZ FG            1
dZ               1
FBR              1
 FBL RA          1
MIFG=            1
2000             1
1900             1
NIFG             1
12100            1
 ABV 2000        1
Name: WEATHER, dtype: int64

In [4]:
train = train.replace(to_replace = "`BR", value ='BR')
train = train.replace(to_replace = "`FU", value ='FU')
train = train.replace(to_replace = "fu", value ='FU')
train = train.replace(to_replace = " BR", value ='BR')
train = train.replace(to_replace = " HZ", value ='HZ')
train = train.replace(to_replace = "fg", value ='FG')
train = train.replace(to_replace = " TS", value ='TS')
train = train.replace(to_replace = "br", value ='BR')
train = train.replace(to_replace = "BR`", value ='BR')
train = train.replace(to_replace = "mifg", value ='MIFG')
train = train.replace(to_replace = "NIFG", value ='MIFG')
train = train.replace(to_replace = "MIFG=", value ='MIFG')
train = train.replace(to_replace = "dZ", value ='DZ')
train = train.replace(to_replace = "hz", value ='HZ')
train = train.replace(to_replace = " RA", value ='RA')
train = train.replace(to_replace = " FBL RA", value ='FBL RA')
train = train.replace(to_replace = " FBL DZ", value ='FBL DZ')
train = train.replace(to_replace = "FY", value ='FU')
train = train.replace(to_replace = "HZ ", value ='HZ')
train = train.replace(to_replace = "BR ", value ='BR')
train = train.replace(to_replace = "FU ", value ='FU')
train = train.replace(to_replace = "HZ  ", value ='HZ')
train = train.replace(to_replace = "FU  ", value ='FU')
train = train.replace(to_replace = "BR  ", value ='BR')

In [5]:
train['WEATHER'].value_counts()

FU            4273
HZ            3905
BR            2212
MIFG          1585
FG            1316
TS              23
FBL RA          15
MOD RA          11
FBL TSRA         9
AB V 2000        7
MOD TSRA         6
DZ               6
RA               6
FBL DZ           6
1000             5
FG /FBL RA       5
FBLRA            4
ABV2000          4
1800             4
FGF              4
700              2
ABV 2000         2
TSRA             2
2400             2
 ABV 2000        1
2000             1
HBR              1
DZ FG            1
1900             1
FBR              1
12100            1
Name: WEATHER, dtype: int64